.app.dark {
  //--bg-color: #090949;
  --bg-color: #232529;
  --inverted-bg-color: #e8e8e8;

  //--primary-color: #049604;
  --primary-color: #e2e3e7;
  --secondary-color: #04ff04;
  --inverted-primary-color: #022bbb;
  --inverted-secondary-color: #0449e0;
}