.app.light {
  --bg-color: #e8e8e8;
  //--inverted-bg-color: #090949;
  --inverted-bg-color: #232529;

  --primary-color: #0232c2;
  --secondary-color: #0449e0;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}